:root {
    --main-color: 30, 34, 43;

	--bg-color: #1a1a1a;
	--header-bg: #222;
	--header-height: 60px;
    --box-color: rgba(var(--main-color), 0.3);

    --text-highlight: #f08c3a;
    --text-header: rgba(0,0,0,0);
    --text-main: white;
    --text-subtext: #e0e0e0;
}

body, html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	height: 100%;
	overflow: hidden; 
}

/* =========================================
   Style
   ========================================= */
.box-style-a {
    background: var(--box-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.box-style-b {
    background: var(--box-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    /* Slightly softer shadow for smaller nested cards */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* =========================================
   App Layout
   ========================================= */
.app-layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: 100dvh;
    background-color: var(--bg-color);
    background-image: 
        linear-gradient(rgba(26, 26, 26, 0.1), rgba(26, 26, 26, 0.6)), 
        url('../public/images/takarazuka.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

/* =========================================
   Global Scrolling Box
   ========================================= */
.page-container {
    flex: 1; 
    overflow-y: auto; 
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* =========================================
   Screen Sized Section
   ========================================= */
.screen-section {
    width: 100%;
    min-height: calc(100dvh - var(--header-height)); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1vw 1vh 1vw;
    box-sizing: border-box;
}

